{% load i18n staticfiles pipeline %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

{% block meta_tags %}
{% endblock %}

    <!-- START FAVICONS -->
    <link rel="shortcut icon" href="{% static 'img/favicons/favicon.ico' %}" type="image/x-icon" />
    <link rel="icon" href="{% static 'img/favicons/favicon.ico' %}" type="image/x-icon">
    <!-- END FAVICONS -->

{% block css %}
    {% stylesheet 'all' %}
{% endblock %}

{% block in_head %}
{% endblock %}
</head>

<body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <noscript>
        <div id="id-noscript">
            <div>
                For full functionality of this site it is necessary to enable JavaScript.<br>
                Here are the <a href="http://www.enable-javascript.com/" target="_blank">
                instructions how to enable JavaScript in your web browser</a>.
            </div>
        </div>
    </noscript>

{% block modals %}
{% endblock %}

{% block menu %}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block js %}
    {% javascript 'all' %}
{% endblock %}

{% block end_body %}
{% endblock %}
</body>
</html>

