{% extends 'base.html' %}
{% load i18n staticfiles %}


{% block meta_tags %}
    <title>{{ msg }}</title>
{% endblock %}

{% block css %}
    <!-- START VENDOR STYLES -->
    {{ block.super }}
    <!-- END VENDOR STYLES -->
{% endblock %}

{% block in_head %}
{% endblock %}

{% block modals %}
    <!-- START MODALS -->
    {{ block.super }}
    <!-- END MODALS -->
{% endblock %}

{% block menu %}
{% endblock %}

{% block header %}
    <!-- START HEADER -->
    {{ block.super }}
    <!-- END HEADER -->
{% endblock %}

{% block content %}
    <!-- START CONTENT -->
    <h1>{{ msg }}</h1>
    <a href="{% url 'posts:post-list' %}">Post list</a>
    <!-- END CONTENT -->
{% endblock %}

{% block footer %}
    <!-- START FOOTER -->
    {{ block.super }}
    <!-- END FOOTER -->
{% endblock %}

{% block js %}
    <!-- START VENDOR SCRIPTS -->
    {{ block.super }}
    <!-- END VENDOR SCRIPTS -->
{% endblock %}

{% block end_body %}
{% endblock %}
