### Python ###
# Byte-compiled / optimized / DLL files
*.py[cod]
__pycache__/
*~
.directory
confusables.json

### Django ###
*.log
*.ini
*.pid
media/
db.sqlite3

### Vagrant ###
.vagrant/

### Pycharm ###
.idea
.editorconfig

### Django-sphinxql ###
binlog.*
*.conf
*.spa
*.spd
*.spe
*.sph
*.spi
*.spk
*.spm
*.spp
*.sps
*.tmps

### Sublime Text ###
*.sublime-project
*.sublime-workspace
tmp*
*.sublime-settings

### Rope project settings ###
.ropeproject

### VisualStudioCode ###
.vscode/
.history
*.code-workspace

