{% load i18n staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% trans 'Server error (500)' %}</title>

    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <div>
        <h1>{% trans 'Server Error <em>(500)</em>' %}</h1>
        <p>{% trans "There's been an error. It's been reported to the site administrators via email and 
                     should be fixed shortly. Thanks for your patience." %}</p>
    </div>
</body>
</html>
