{% extends 'base.html' %}
{% load i18n staticfiles %}


{% block meta_tags %}
    <title>Post list</title>
{% endblock %}

{% block css %}
    <!-- START VENDOR STYLES -->
    {{ block.super }}
    <!-- END VENDOR STYLES -->
{% endblock %}

{% block in_head %}
{% endblock %}

{% block modals %}
    <!-- START MODALS -->
    {{ block.super }}
    <!-- END MODALS -->
{% endblock %}

{% block menu %}
{% endblock %}

{% block header %}
    <!-- START HEADER -->
    {{ block.super }}
    <!-- END HEADER -->
{% endblock %}

{% block content %}
    <!-- START CONTENT -->
    {% for post in posts %}
        <hr>
        <h4><a href="{{ post.get_absolute_url }}" target="_blank">{{ post.title }}</a></h4>
        <div>{{ post.message }}</div>
        <p>Like: {{ post.like }}</p>
        <hr>
    {% endfor %}
    <!-- END CONTENT -->
{% endblock %}

{% block footer %}
    <!-- START FOOTER -->
    {{ block.super }}
    <!-- END FOOTER -->
{% endblock %}

{% block js %}
    <!-- START VENDOR SCRIPTS -->
    {{ block.super }}
    <!-- END VENDOR SCRIPTS -->
{% endblock %}

{% block end_body %}
{% endblock %}
